; prim Local Instalation Profile
core = "7.x"
api = "2"

projects[drupal][version] = "7.23"
projects[drupal][type] = "core"
projects[drupal][download][type] = get
projects[drupal][download][url] = http://ftp.drupal.org/files/projects/drupal-7.23.tar.gz

; include the d.o. profile base
includes[] = "https://raw.github.com/dsv-su/prim/master/drupal-org.make"

; Libraries

; setup install profile
libraries[prim][directory_name] = "prim"
libraries[prim][type] = "profile"
libraries[prim][destination] = "../../profiles"
libraries[prim][download][type] = "git"
libraries[prim][download][url] = "https://github.com/dsv-su/prim.git"
